/* 
    1.CSS-Cascading style sheet
        used to style your documents,formatting and Appearence
        how the document,website appear,or style
    
    2.Selectors
        1.Element Selector
        2.Class Selector
        3.Id Selector
    3.Pseudo-class Selector
    4.Multiple Selector

    Home-Work
    5.Universal Selector
    6.Attribute Selector
    7.Nested Selector 
    
    How to add Styling to HTML
    1.Internal 
    2.External
    3.Inline

    (Specificity ---simple meaning is Priority in style)
        tag selector
        .class selector
        #id selector
        inline Selector
    !important

    Box-Model in CSS
    (Content)
    1.width
    2.height
    3.Border
    4.padding
    5.margin


    Color in CSS
    1.Hexadecimal Color
    2.RGB color
    3.Predefined/Cross-Browser names
    4.RGBA
    5.HSL color
    6.HSLA color


    Home-work
    (Font)
    1.font-family
    2.font-weight
    3.font-style
    4.Emphasis and important
    5.How to Add external font

    Unit in CSS
    1.Absolute
    2.Percentage ex: div:{width:10%};
    3.Relative
        1.Relative to font-size (em,rem)
            rem means relative to root
        2.Relative to Documents (vw,vh)

    Home-work
    Diff btw 1% vs 1vw or 1vh

    Absolute Unit
    1.cm
    2.mm
    3.in
    4.px bydefault=1/96 inch


*/