.container{
    height: 700px;
    width: 1200px;
    border: 1px solid black;
    background-color: yellow;

    display: grid;
    grid-template-columns:250px 2fr;
    grid-template-rows: 40px 1fr 40px;

    grid-gap: 4px;

    grid-template-areas:
    "hd hd"
    "side main"
    "ft ft";
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#header{
    grid-area: hd;
}

#sidebar{
    grid-area: side;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: ft;
}

@media(max-width:600px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr 1fr 40px;

        grid-gap: 4px;

        grid-template-areas:
        "hd"
        "side"
        "main"
        "ft";

    }
}