.container{
    height: 700px;
    width: 405px;
    border: 1px solid black;
    background-color: yellow;

    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 40px 1fr 40px;

    grid-gap: 4px;

    grid-template-areas:
    "hd hd"
    "side main"
    "ft ft";
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#header{
    grid-area: hd;
}

#sidebar{
    grid-area: side;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: ft;
}