/* 
    Animation & Transition
    Animation:
        1.Variables
            EX: --variableName:(value);
            for use ex: color:var(--variableName);
            Homework:
                :root vs *
    Transition:
    
*/

:root{
    --dark-color: #4a5220;
    
}

.container{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    
    background-color: var(--dark-color);
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;

    --dark-color:#0073ff;
    color: white;
    background-color: var(--dark-color);
}