/*
    animation-name: Suraj;
    animation-duration: 2s;
    animation-iteration-count:10;
    animation-timing-function: ease-in;
    animation-delay: 2s;
*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.container{
    height: 100vh;
    width: 100vw;
     /* border: 2px solid black; */
    /* background-color: aqua;  */

  display: grid;
    justify-content: center;
    align-items: center;

    
}

 #button{
    height: 60px;
    width: 150px;

    
    background-color: #e84949;
    color: white;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 5px 5px 15px #888888;
    font-size:18px;

    background: linear-gradient(to left, red 50%, rgb(0, 0, 0) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    
}

#button:hover{
    cursor: pointer;
    
    animation-name: btn;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in;
    animation-delay: 1s;
    
    background-position: left;
} 




/* 
    StackOverflow se code liya hai 
*/

/* .container{
    height: 100vh;
    width: 100vw;
     border: 2px solid black;
    background-color: aqua; 

 display: grid;
    justify-content: center;
    align-items: center;

    
}


#button {
    font: 22px Arial;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    color: white;
    background: red; /* default color */

    /* "to left" / "to right" - affects initial color */
    /*background: linear-gradient(to left, salmon 50%, rgb(0, 0, 0) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
#button:hover {
    background-position: left;
} */