.wrapper{
    height: 2000px;
    width: 1000px;
    background-color: aqua;

}

.box{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 2px;
    border: 2px solid black;
    color: white;

    display:inline-block;
    
}
#box1{
    position: static;

}

#box2{/*Ancestor */
    position:absolute;
    left: 50px;
    top: 100px;
}

#box3{ /*itself original position se */
    position:relative;
    left: 50px;
    top: 100px;
}

#box4{
    position: fixed;
}

#box5{
    position: sticky;
    top: 300px;
}