.container{
    height: 700px;
    width: 800px;
    border: 1px solid black;
    background-color: yellow;

    display: grid;
    grid-template-columns:250px 2fr;
    grid-template-rows: 40px 1fr 40px;

    grid-gap: 4px;

    grid-template-areas:
    "hd hd"
    "side main"
    "ft ft";
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#header{
    grid-area: hd;
}

#sidebar{
    grid-area: side;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: ft;
}


.childgrid{
    height: 100%;
    width: 100%;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.element{
    border: 2px solid rgb(230, 71, 71);
    background-color: rgb(143, 235, 172);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
